@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron {
        background: #90dfaa;
    }
</style>

<div class="jumbotron">
    <h1 style="font-size: 35px;">Bem-vindo ao Gerenciax!</h1>
    <p class="lead"><p class="lead">O seu melhor gerenciador de localidades!</p></p>
    <p><a id="botao" name="botao" href="/mapa" class="btn btn-primary btn-lg" style="background-color: white; color: #424144; border-color:white;">Acessar mapa &raquo;</a></p>
</div>